language: php

env:
  - DB_HOST=localhost
  - DB_NAME=task-manager
  - DB_USER=root
  - DB_PASS=new_password

php:
  - '7.2'
  - '7.3'

before_script:
  - composer install

script:
  - phpunit --configuration ./phpunit.xml
  - ./vendor/bin/phpcs

sudo: required

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client

before_install:
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD("$DB_PASS") where User="$DB_USER"; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
  - sudo mysql_upgrade -u root -pnew_password
  - sudo service mysql restart
  - mysql -u root --password="$DB_PASS" < tests/travis_database.sql

notifications:
  email: false