version: '3.7'

services:
  php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./BackEnd:/var/www/html:cached
    environment:
      PHP_EXTENSION_XDEBUG: 1

  nginx:
    image: nginx:stable
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./FrontEnd:/var/www
    depends_on:
      - react
      - php-fpm
      - mysql8.0
    ports:
      - "80:80"
      - "8080:8080"
    expose:
      - '8080'

  react:
    container_name: react
    build:
      context: ./docker/node
    volumes:
      - ./FrontEnd:/var/www
    environment:
      - NODE_ENV=development
    stop_signal: SIGINT
#    command: tail -F anything
    command: npm run start
    ports:
      - "8000:8000"
      - "35729:35729"
    expose:
      - "8000"
      - "35729"

  composer:
    image: composer:latest
    volumes:
      - ./:/app
    command: 'true'

  mysql8.0:
    container_name: mysql.8
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'

volumes:
  mysql8.0: