version: '3.7'

services:
  php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - .:/var/www/html:delegated

  nginx:
    image: nginx:stable
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:delegated
    depends_on:
      - php-fpm
      - db
    ports:
      - "80:80"
    expose:
      - '3306'

  composer:
    image: composer:latest
    volumes:
      - ./:/app
    command: 'true'


  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'