{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Profile</h1>
    <p class="d-none" id="token">{{ app.session.get('jwt_token') }}</p>

    <div id="profileContainer">
        <div class="loader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="errorContainer" class="justify-content-center alert alert-danger mb-3 d-none"></div>
    <div id="successContainer" class="justify-content-center alert alert-success mb-3 d-none"></div>
    <div id="infoContainer" class="justify-content-center alert alert-info mb-3 d-none"></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('users') }}
    {% endblock %}
{% endblock %}