<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Task manager{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="row">
            <div class="col-12">
                <p id="token" class="d-none">{{ app.session.get('jwt_token') }}</p>
                <div id="errorContainer" class="justify-content-center alert alert-danger mb-3 d-none"></div>
                <div id="successContainer" class="justify-content-center alert alert-success mb-3 d-none"></div>
                <div id="infoContainer" class="justify-content-center alert alert-info mb-3 d-none"></div>
                {% block body %}{% endblock %}
            </div>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
