{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Users</h1>
    <p class="d-none" id="token">{{ app.session.get('jwt_token') }}</p>

    <!-- Button trigger modal -->
    <div class="text-center">
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addUserModal">
            Create User
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-header ">
                    <div class="loader d-none">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="modalErrorContainer" class="form__error_container d-none"></div>
                    <div id="modalSuccessContainer" class="form__success_container d-none"></div>
                </div>

                <div class="modal-body">
                    <form method="post" action="{{ path('createPassword') }}">
                        <div class="form-group">
                            <label for="passwordInput1">Password</label>
                            <input type="password" class="form-control" id="passwordInput1" placeholder="Password" required>
                        </div>

                        <div class="form-group">
                            <label for="passwordInput2">Re-type Password</label>
                            <input type="password" class="form-control" id="passwordInput2" placeholder="Re-type Password" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="addUserButton" class="btn btn-primary">Create User</button>
                </div>
            </div>
        </div>
    </div>

    <div id="errorContainer" class="justify-content-center alert alert-danger mb-3 d-none"></div>
    <div id="successContainer" class="justify-content-center alert alert-success mb-3 d-none"></div>
    <div id="infoContainer" class="justify-content-center alert alert-info mb-3 d-none"></div>

    <div id="usersContainer">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('users') }}
    {% endblock %}
{% endblock %}