{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Users</h1>

    <div id="usersContainer">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <p class="d-none" id="access_token">{{ access_token }}</p>
    {% block javascripts %}
        {{ encore_entry_script_tags('users') }}
    {% endblock %}
{% endblock %}