{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Users</h1>

    <div id="usersContainer">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <p class="d-none" id="access_token">{{ access_token }}</p>
    <p class="alert" id="requestInfoContainer"></p>
    <button id="refreshTokenButton" class="d-none btn btn-primary">Refresh Token</button>

    {% block javascripts %}
        {{ encore_entry_script_tags('users') }}
    {% endblock %}
{% endblock %}