{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <div id="usersContainer"></div>
    <script type="application/javascript">

        fetch('/api/users')
            .then(function (response) {
                return response.json();
            }).then(function (response) {
            console.log(response);
            const markup = `
                <ul class="users">
                    ${response.users.map(
                        user => `<li class="user">${user.username} email: ${user.email}</li>`
                    ).join(' ')}
                </ul>
            `;

            document.getElementById('usersContainer').innerHTML = markup;
        });
    </script>
{% endblock %}