{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Users</h1>

    <div id="usersContainer">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <p class="d-none" id="access_token">{{ access_token }}</p>

    <a href="https://dev-gegxco2s.auth0.com/authorize?response_type=code&client_id=BsvnwZsXRHD6Jbpep70c6tgnsAnrB053&redirect_uri=https://localhost/callback&scope=appointments%20contacts&audience=appointments:api&state=xyzABC123">
        Sign In
    </a>
    {% block javascripts %}
        <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>
        {{ encore_entry_script_tags('users') }}
    {% endblock %}
{% endblock %}